<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::page_head('وظیفه ها')">
<body th:dir="rtl">
<div class="container-fluid">
    <div th:replace="navigation :: menu"></div>
    <a th:href="@{/roles/showFormForAdd}" class="btn btn-primary btn-sm m-3">
        افزودن نقش
    </a>
    <table class="table table-bordered table-striped table-hover">
        <thead class="table-dark">
        <tr>
            <th>عنوان</th>
            <th>توضیحات</th>
            <th>عملیات</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="role : ${theRoles}">
            <td class="col-2" th:text="${role.title}"></td>
            <td class="col-6" th:text="${role.description}"></td>
            <td class="col-4">
                <a th:href="@{/roles/showFormForUpdate(roleId=${role.id})}"
                   class="btn btn-success btn-sm">ویرایش</a>

                <a th:href="@{/roles/delete(roleId=${role.id})}"
                   class="btn btn-danger btn-sm"
                   onclick="if(!(confirm('مطمئنید میخواهید حذف نمایید ؟')))  return false">
                    حذف</a>
            </td>
        </tr>
        </tbody>

    </table>
</div>
</body>
</html>