<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::page_head('جزئیات حساب کاربری')">

</head>
<body th:dir="rtl">
<div class="container-fluid">
    <div th:replace="navigation :: menu"></div>

    <div class=" d-flex align-items-center justify-content-center  ">

        <form action="#" th:action="@{/account/update}"
              th:object="${employee}"
              method="post"
              class=" col-4 m-4 border border-primary p-4"
              enctype="multipart/form-data"
        >
            <div th:if="${ message != null }" class="alert alert-success text-center">
                [[${message}]]
            </div>
            <input type="hidden" name="_csrf" value="cf71baa1-2c3e-4628-84d7-7e37a7b76d61"/>
            <input type="hidden" th:field="*{id}">
            <input type="text" th:field="*{firstName}" placeholder="نام"
                   required=""
                   oninvalid="this.setCustomValidity('پر کردن این این فیلد الزامی است')"
                   oninput="setCustomValidity('')"
                   class="form-control mb-4 col-6">
            <ul>
                <li th:each="err : ${#fields.errors('firstName')}" th:text="${err}" class="text-danger"></li>
            </ul>
            <input type="text" th:field="*{lastName}" placeholder="نام خانوادگی"
                   required=""
                   oninvalid="this.setCustomValidity('پر کردن این این فیلد الزامی است')"
                   oninput="setCustomValidity('')"
                   class="form-control mb-4 col-6">
            <ul>
                <li th:each="err : ${#fields.errors('lastName')}" th:text="${err}" class="text-danger"></li>
            </ul>

            <input type="email" th:field="*{email}" placeholder="ایمیل"
                   readonly="readonly"
                   class="form-control mb-4 col-6">
            <ul>
                <li th:each="err : ${#fields.errors('email')}" th:text="${err}" class="text-danger"></li>
            </ul>

            <input type="password"  th:field="*{password}"
                   minlength="8"
                   oninvalid="this.setCustomValidity(' حداقل شامل 8 کاراکتر ترکیبی از اعداد و حروف')"
                   oninput="checkPasswordMatch(document.getElementById('confirmPassword'))"
                   placeholder="در صورتی که نمی خواهید (کلمه عبور) را تغییر دهید خالی بگذارید" class="form-control mb-4 col-6">

            <input type="password"  id="confirmPassword"
                   minlength="8"
                   oninput="checkPasswordMatch(this)"

                   placeholder="تایید کلمه عبور" class="form-control mb-4 col-6">


            <ul>
                <li th:each="err : ${#fields.errors('password')}" th:text="${err}" class="text-danger"></li>
            </ul>

            <ul>
                <li style="list-style-type: none">
                    <span>[[${employee.roles}]]</span>
                </li>
            </ul>
            <div class="mb-2">
                <input type="hidden" th:field="*{photo}">
                <input type="file" id="fileImage" name="image" accept="image/png , image/jpeg">
                <img th:src="@{${employee.photosImagePath}}" id="thumbnail" alt="photo"
                     style="width: 100px ;">
            </div>


            <button type="submit" class="btn btn-info col-4">ذخیره</button>
            <a th:href="@{/}" class="btn btn-secondary col-4">
                انصراف
            </a>
        </form>
    </div>
</div>
<script type="text/javascript">
    function checkPasswordMatch(confirmPassword) {
        if (confirmPassword.value != $("#password").val()){
            confirmPassword.setCustomValidity("کلمه های عبور مغایرت دارد!");
        }else{
            confirmPassword.setCustomValidity("");
        }

    }
</script>
<script th:src="@{/js/common-form.js}"></script>
</body>
</html>